@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html, body {
  @apply size-full;
}

body {
  font-family: ui-serif, Georgia, "Lora", serif !important;
  @apply antialiased flex flex-col bg-stone-100 dark:bg-stone-900 text-black/50 dark:text-white/75;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5 bg-stone-100/75 dark:bg-stone-900/25 backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert;
}

#back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

p, .work-content, .experience-list {
  font-family: ui-serif, Georgia, "Lora", serif !important;
  font-weight: 400;
  color: #333;
}
